h1{
    color:blue
}

body{
    background-color: pink;
}

button{
    background-attachment: fixed;
    background-color: blue;
    color: white;
}
.heading{
    background-color: yellow;
    color:aliceblue

}